body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Avenir'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.alumniList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: auto; */
}

.person {
  width: 200px;
  margin: 25px;
  padding: 15px;
  border: 1px solid black;
  font-family: Avenir;
  text-align: center;
}

.person h2 {
  font-weight: bolder;
}

.person a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.person a:hover {
  color: blue;
}

.ppContainer {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #917FB3;
  margin: auto;
  overflow: hidden;
  align-items: center;
  justify-items: center;
}

.proPic {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.tabContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tabContainer h1 {
  font-family: Avenir;
  display: block;
  margin-right: 10px;
}

.tabContainer button:hover {
  background-color: blue;
}

.tabContainer button {
  font-family: Avenir;
  font-weight: 500;
  border-radius: 15px;
  padding: 15px;
  height: 25px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  transition: 0.2s;
  cursor: pointer;
}